@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body{
  font-family: Manrope;
  font-style: normal;

}
.First_screen {
  background-size: cover;
  height: 100%;
  background-image: url("/images/first-fon.png");
  background-repeat: no-repeat;
  position: relative;

  .fon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .rimword{
      img{
      width: 100%;
        }
    }
    .block{
      height: 100%;
      width: 100%;

      .img{
          img{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 800px;
        }
      }

      .rimword{
        position: relative;
        text-align: left;
        padding-right: 50px;
        margin-bottom: 140px;

        p{
          max-width: 500px;
          margin-bottom: 26px;
          font-family: Manrope;
          text-align: left;
          font-style: normal;
          font-weight: 600;
          font-size: 34px;
          line-height: 40px;
          letter-spacing: 0.05em;
          color: #5F6AF1;
        }

        img{
          margin-bottom:99px ;
        }

        h1{
          width: 100%;
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 4em;
          line-height: 90px;
          /* or 100% */
          display: flex;
          align-items: center;
          letter-spacing: 0.05em;
          color: #FFFFFF;
        }

        button{
          background: #E7EBFF;
          width: 195.48px;
          height: 54px;
          border-radius: 50px;
        }
      }
    }
  }
}
.Second_screen{
  .cGKbZh{
    display: none;
  }
  .ehkxHv{
    display: none;
  }
    background: #111737;
  .container{
    .block{
      .carysel{
        margin-bottom: 70px;
        margin-top: 73px;
        background-image: url("/images/carysel/fon.png");
        background-repeat: no-repeat;
      }
      .text{
        h1{
          margin-top: 42px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 4em;
          line-height: 90px;
          display: flex;
          align-items: center;
          color: #5761D7;
        }

        p{
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 2em;
          line-height: 40px;
          color: #FFFFFF;
        }
      }
    }
  }
}
.Third_screen{
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("images/Third/fon.png");
  background-size: cover;
  //height: 800px;

  .ehkxHv{
    background-color: inherit;
    color: rgb(88,77,118);
    font-size: 4.6em;
  }
  .cGKbZh{
    background-color: inherit;
    font-size: 4.6em;
    color: rgb(88,77,118);
  }

  .caryselMiniDiv{
    margin-bottom: 100px;
  }

  .frame{
    width: 100%;
    height: 100%;
  }

  .one p{
    weight:100;
    font-style: normal;
    font-weight: 100;
    text-align: left;
  }

  .tho p{
    weight:100;
    font-style: normal;
    font-weight: 100;
  }

  h1{
    font-weight: 800;
    line-height: 70px;
    margin: inherit;
    color: #FFFFFF;
  }

  h2{
    position: relative;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: inherit;
    line-height: 70px;
    color: #FFFFFF;
    //border-bottom: 5px solid #5761D7;
  }

  h3{
    font-family: Manrope;
    font-style: normal;
    font-weight: 200;
    line-height: 50px;
    color: #FFFFFF;
  }

  p{
    color: #FFFFFF;
  }

  .but button{
    margin-bottom: 80px;
    width: 100%;
    height: 242px;
    margin-top: 30px;
    background: #3C4C81;
    border-radius: 50px;
    img{
      width: 82px;
      height: 86px;
      margin-top: 40px;
    }
    h3{
      margin-top: inherit;
      font-weight: 800;
      font-size: 48px;
      line-height: 90px;
      /* or 187% */

      color: #2F4178;
    }
  }

    .search{
      color: #FFFFFF;
      opacity: 0.4;
      margin-top:60px;
    }

}
.Fourth_screen {
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: bottom;
  //background-attachment:fixed;
  background-image: url("images/Second/fon.png");
  background-size: cover;
  height: 886px;

  h1 {
    padding-top: 110px;
    margin-bottom: 29px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    //font-size: 4em;
    line-height: 90px;
    /* or 125% */
    text-align: center;

    color: #5761D7;
  }

  .one {
    h2 {
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      line-height: 50px;
      position: relative;
      //border-bottom: 5px solid #5761D7;

      color: #FFFFFF;
    }
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      text-align: left;
      //font-size: 2em;
      line-height: 43px;
      margin-top: 20px;
      /* or 126% */

      color: #FFFFFF;
    }
  }

  .tho {

    h2 {
      font-family: Manrope;
      font-style: normal;
      position: relative;
      font-weight: 600;
      //font-size: 48px;
      line-height: 50px;
      color: #FFFFFF;
    }

    p {
      font-family: Manrope;
      font-style: normal;
      text-align: right;
      font-weight: normal;
      //font-size: 2em;
      line-height: 43px;
      /* or 126% */

      color: #FFFFFF;
    }
  }
}
.Fifth_screen{
  background-size: cover;
  background-image: url("images/Fourth/fon.png");
  background-repeat: no-repeat;

  h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    margin: inherit;
    color: #FFFFFF;
  }

  h2{
    padding-top: 80px;
    margin-bottom: inherit;
    line-height: 70px;
    color: #FFFFFF;
  }

  h3{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    padding-top: 40px;
    line-height: 50px;
    /* or 104% */

    color: #FFFFFF;
  }

  button{
    width: 257px;
    height: 79px;
    margin-top: 53px;
    margin-bottom: 137px;
    background: #5761D7;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

  }
}
.Sixth_screen{
background: #111737;
  img{
    width: 100%;
    margin-top: 80px;
  }
  h1{
    padding-top: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 90px;
    color: #FFFFFF;
  }
  p{
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    color: #FFFFFF;
  }
  button{
    width: 257px;
    height: 79px;
    margin-top: 53px;
    margin-bottom: 137px;
    background: #5761D7;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

  }
}
.caryselMini{
  margin-top: 100px;
  height: 442px;

  img{
    //max-width: 400px;
    width: 100%;
    padding: 10px;
    //background: #FFFFFF;
    border-radius: 50px;
  }
}
.ServDetailed-slider_img{
  //width: 495px;
  max-width: 500px;
  margin-left: 45px;
  height: 682px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}
button{
  border: inherit;
}
@media (min-width: 992px) and (max-width: 1399px){
  .First_screen .fon .block .rimword button {
    width: 150px;
  }
}
@media (max-width: 991px) {
    .caryselMini{
      height: 300px;
    }
    .Fourth_screen{
      h1{
        line-height: inherit;
      }
      .one {
        h2{
          line-height: inherit;
        }
        p{
          margin-bottom: 50px;
          line-height: inherit;
        }
      }
      .tho{

        h2{
          line-height: inherit;
          margin-top: 50px;
        }
        p{
          line-height: inherit;
        }
      }
    }
    h1{
      line-height: inherit;
      font-size: 2.3rem;
      p{
        line-height: inherit;
      }
    }
    .Fifth_screen {
      h2{
        line-height: inherit;
        //margin-left: inherit;
        font-weight: normal;
        font-size: 30px;
      }

      h1{
        font-weight: normal;
        margin-left: 5px;
        font-size: 30px;
        line-height: inherit;
      }

      .text h2{
        line-height: inherit;
        font-weight: normal;
        font-size: 20px;
      }
    }
    .Third_screen{

      .img-bogdan{
        height: inherit;
      }

      h1{
        font-size: 19px;
        line-height: inherit;
      }

      p{
        font-size: 12px;
      }
      .one:before{
        display: contents;
        background-color: inherit;
      }

      .tho:before{
        display: contents;
        background-color: inherit;
      }

      .tho{
        background-color: inherit;
        text-align: right;
      }
      h2 {
       border-bottom: inherit;
      line-height: inherit;
      }
      .but{
        display: none;
      }
    }
    .img-bogdan{
      padding-right: inherit;
      padding-left: inherit;
      margin-top: inherit;
    }
    .First_screen .fon .block .rimword {
      margin-bottom: 40px;
    p{
        color: white;
      }
    }
    .First_screen{
      background-image: url("/images/firt-fon-Mini.png");
      .fon{
          .block .rimword img{
            margin-bottom: 0;
            margin-top: 60px;
          }
          .img{
            order: 2;
          }
      }
    }
    .mobil{
      display: inherit;
    }
    .deck{
      display: none;
      }
    .First_screen .fon .block .img img{
      position: inherit;
      width: 100%;
    }
}
@media (min-width: 992px){
  .deck{
    display: inherit;
  }
  .mobil{
    display: none;
    }
}

@media (max-width: 1199px){
  .ServDetailed-slider_img_small{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 318px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    margin-bottom: 100px;
    overflow:hidden;

    img{
      //height: 318px;
      width: 100%;
    }
  }
  .caryselMin {
    display: inherit;
  }

  .carysel {
    display: none;
  }

}



@media (min-width: 1200px){
  .Second_screen{

    .caryselMin{
      display: none;
    }
  }
  .h3, h3 {
    font-size: 2rem;
    weight:500px;
  }
  .h2, h2 {
    weight:600px;
    font-size: 3rem;;
  }
  .h1, h1 {
    weight:800px;
    font-size: 4rem;;
  }
  p{
    font-size: 1.7rem;
  }
}
@media (max-width: 768px){

  .Second_screen .container .block .text p {
    font-size: 1.3em;
    line-height: inherit;
  }
}

@media (max-width: 540px) {

  .Sixth_screen button{
    background: #5761D7;
    border-radius: 50px;
    color: white;
    width: 100%;
    height: 28px;
  }

  .Second_screen .container .block .text {
    h1{
      font-size: 2.8em;
    }
    p{
      font-size: 1.3em;
    }
}
  .First_screen .fon .block {
    width: inherit;
    padding-left: 10px;
      .rimword {
          padding-right: inherit;
      h1{
        font-weight: inherit;
        font-size: 2.7em;
        line-height: inherit;
        }
      p{
        font-size: inherit;
        line-height: inherit;
        }
      }
  }
  .First_screen .fon .block .rimword .button {
    flex-direction: column;

  .one{
    width: 100%;
    background: #5761D7;
    border-radius: 50px;
    color: white;
    height: 28px;
    margin-bottom: 5px;
    max-width: inherit;
    }

  .tho{
    width: 100%;
    background: white;
    border-radius: 50px;
    color: #5761D7;
    height: 28px;
    margin-bottom: 5px;
    max-width: inherit;
  }
}
  .Fifth_screen{
    .but{
      padding: 20px;
        button {
          width: 100%;
          background: #5761D7;
          border-radius: 50px;
          color: white;
          height: 28px;
          margin-bottom: 50px;
        }
    }
  }
}
@media (min-width: 540px){
  .First_screen{
    .button{
      a{
        width: inherit;
      }
    }
  }
  .h3, h3 {
    font-size: 1.7rem;
    weight:500;
  }
  .h2, h2 {
    weight:600;
    font-size: 2.7rem;;
  }
  .h1, h1 {
    weight:800;
    font-size: 3.6rem;;
  }
  p{
    font-size: 1.4rem;
  }
}